body{
    display: flex;
    margin: 0;
}
.bak{
    width:100% ;
        height: 100vh;
    background-color:burlywood;
    background: url(back.png);
}
.bak1{
    width: 50vh;
    height: 50vh;
    margin: auto;
    background-image: url(logo1.png);
    background-size: 50vh;
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
}
.buy{
    width: 40vh;
    height: 10vh;
    margin: auto;
    
}
